<section id="services_new" class="services">
    <h1><%= t('auth.account.new') %></h1>

    <div>
        <h3><%= t('auth.account.new_for_app') %></h3>
        
        <p class="small">
            Provider: <%= @authhash[:provider] %><br />
            ID: <%= @authhash[:uid] %><br />
            Name: <%= @authhash[:name] %><br />
            Email: <%= @authhash[:email] %> <br />
        </p>

        <%= form_tag :controller => "services", :action => "newaccount" do %>
            <%= submit_tag "Confirm and create new account" %> <%= submit_tag "Cancel" %>
        <% end %>
    </div>

    <p>
    <%= t('auth.account.notice_already') %>
    <%= t('auth.account.not_logged_in') %>
    </p>

    <p class="small nomargin">
        <%= t('auth.account.associate_other') %>
    </p>
    <ul class="small">
        <%= 3.times do |n|
            <li>t('auth.account.associate_how')[n]</li>
        <% end >
    </ul>
</section>